*:not(.fa){
    font-family: Cairo-Regular, Lateef !important;
}

.owl-next, .owl-prev {
    font-family: FontAwesome !important;
}


.as-product .asp-inner .pro-info h3 {
    white-space: normal !important;
}
.as-product .asp-inner .pro-info {
    text-align: unset !important;
}
