.nav-tabs>li {
    float: none !important;
}


@media (min-width: 992px){
    header .navbar-default .navbar-nav > li {
        padding-left: 40px;
    }
}

@media (max-width: 991px){
    header .navbar-default .navbar-nav > li.dropdown > a .caret {
        right: auto !important;
        left: 0;
    }
}



@media (max-width: 767px){
    .mobile-cart-item .item-description {
        padding-left: unset !important;
        padding-right: 20px;
    }
}